.ss {
    font-family: system-ui, Helvetica, sans-serif;
    position: absolute;
    display: block;
    width: 660px;
    height: 450px;
    background-color: #eee;
    border: 1px solid #ccc;
    /* padding: 10px; */
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    overflow: hidden
}

.ss .tooltip-wrapper {
    position: relative;
    overflow-y: auto;
    max-height: calc(100% - 20px);
    width: 100%;
}

.ss .link-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.ss .link-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    font-weight: normal;
}

.ss .link-title-date-container {
    padding: 0;
}

.ss .link-title {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    margin-right: 5px;
}

.ss .link-domain {
    display: block;
    font-size: 12px;
    /* padding-top: 3px; */
    color: #999;
}

.ss .link-title:hover {
    text-decoration: underline;
}

.ss .link-date {
    font-size: 12px;
    color: #999;
    float: right;
}

.ss .link-score {
    font-size: 12px;
    color: #999;
}

.ss .link-description {
    font-size: 14px;
    color: #333;
    font-style: italic;
    line-height: 20px;
}

.ss .link-tag-container {
    display: flex;
    flex-wrap: wrap;
}

.ss .link-tag {
    background-color: #67b66a;
    border-radius: 25px;
    color: white;
    font-size: 12px;
    padding: 4px 8px;
    margin: 5px;
    text-align: center;
}

.ss .top-bar {
    width: 100%;
    height: 32px;
    background-color: #555;
    cursor: move;
}

.ss .close-tooltip {
    position: relative;
    color: white;
    border: none;
    font-size: 19px;
    cursor: pointer;
    float: right;
    line-height: 24px;
    margin-top:4px;
    margin-right:4px;
    width: 24px;
    height: 24px;
    text-align: center;
    /* background: black; */
    /* border: 1px solid black; */
    /* border-radius: 50%; */
    padding: 0;
}

.ss .close-tooltip:focus {
    outline: none;
}

.ss .carousel-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.ss .carousel-content {
    width: 100%;
    display: flex;
    transition: transform 0.3s ease;
    padding-top: 10px 20px 10px 20px;
    padding-bottom: 10px;
    pointer-events: none;
}

.ss .carousel-item {
    flex-shrink: 0;
    font-size: 16px;
    font-style: italic;
    line-height: 20px;
    width: calc(100% - 60px);
    margin-right: 30px;
    margin-left: 30px;
    text-align: justify; /* center the text in the carousel-item */
    height: min-content;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* animation of a dashed circle rotating */
.ss .loading {
    animation: spin 4s linear infinite;
    border: 2px dashed rgb(78, 78, 78);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0 auto;
}

.ss .carousel-button {
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    color: black;
    border: 1px solid black;
    padding: 0px;
    height: 24px;
    width: 16px;
    line-height: 24px;
    text-align: center;
}

/* disabled button styling */
.ss .carousel-button:disabled {
    background-color: #eee;
    color: #9c9c9c;
    border: 1px solid #9c9c9c;
    cursor: default;
}

/* flush left position absolute */
.ss .carousel-left {
    left: 0px;
}

/* flush right. position absolute. */
.ss .carousel-right {
    right: 0px;
}

.ss .resize-handle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15px;
    height: 15px;
    background-color: #ccc;
    cursor: se-resize;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}